.jumbotron{
  background-image: url("img/bridge.jpg");
  /*filter: alpha(opacity=50);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.stickers{
  display: flex;
  flex-wrap: wrap;
}

.container{
  display: flex;`
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.meetpeople{

}
.tryit{

}
